In [70]:
import pandas as pd

census_df = pd.read_csv('https://storage.googleapis.com/py_ml_datasets/census.csv')
print(census_df.head())
census_df.shape

   SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME         CTYNAME  \
0      40       3         6      1       0  Alabama         Alabama
1      50       3         6      1       1  Alabama  Autauga County
2      50       3         6      1       3  Alabama  Baldwin County
3      50       3         6      1       5  Alabama  Barbour County
4      50       3         6      1       7  Alabama     Bibb County

   CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  ...  RDOMESTICMIG2011  \
0        4779736            4780127          4785161  ...          0.002295
1          54571              54571            54660  ...          7.242091
2         182265             182265           183193  ...         14.832960
3          27457              27457            27341  ...         -4.728132
4          22915              22919            22861  ...         -5.527043

   RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  RDOMESTICMIG2015  \
0         -0.193196          0.381066          0.582002         -0.467369
1         -2.915927         -3.012349          2.265971         -2.530799
2         17.647293         21.845705         19.243287         17.197872
3         -2.500690         -7.056824         -3.904217        -10.543299
4         -5.068871         -6.201001         -0.177537          0.177258

   RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
0     1.030015     0.826644     1.383282     1.724718     0.712594
1     7.606016    -2.626146    -2.722002     2.592270    -2.187333
2    15.844176    18.559627    22.727626    20.317142    18.293499
3    -4.874741    -2.758113    -7.167664    -3.978583   -10.543299
4    -5.088389    -4.363636    -5.403729     0.754533     1.107861

[5 rows x 100 columns]

(3193, 100)

In [71]:
#Q1:哪個州(state)的郡(county)數最多

def answer_one(df):    
    return census_df['STNAME'].value_counts().idxmax()

print(answer_one(census_df))

Texas

In [72]:
#Q2:僅考慮每州(state)人口最多的三個郡(county)，計算人口總合(CENSUS2010POP)，哪三個州總和數最多(請注意SUMLEV變數)
#SUMLEV
#思路 先把每個州人口最多的三個郡篩選出來，後把CENSUS2010POP加總，然後回傳最多的

In [73]:
census_df['SUMLEV']

0       40
1       50
2       50
3       50
4       50
        ..
3188    50
3189    50
3190    50
3191    50
3192    50
Name: SUMLEV, Length: 3193, dtype: int64

In [74]:
census_df['SUMLEV'].value_counts()

#40的是state data 不是county data 所以要先排除掉

50    3142
40      51
Name: SUMLEV, dtype: int64

In [78]:
county_data = census_df[census_df['SUMLEV'] == 50] #篩選所有SUMLEV等於50的COUNTY
state_names = county_data['STNAME'].unique() #51個名稱
print(state_names) #拿到一個所有STATE name的list

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

In [79]:
#有51個STATE 所以要跑這51個STATE裡面所有的COUNTY的CENSUS2010POP的值然後加總起來

top3_pop_summations = []
for state_name in state_names:
    single_state = county_data[county_data['STNAME'] == state_name] #遞迴到哪一個就把那個stname下的所有資料拿出來 叫做 single_state
    single_state_sorted = single_state.sort_values('CENSUS2010POP', ascending=False) #把這所有資料做排序，依照CENSUS2010POP這個欄位，降冪排序
    top3_pop = single_state_sorted['CENSUS2010POP'].values[:3] #此時single_state_sorted['CENSUS2010POP']會有全部county的資料 排序後取前3 
    #這邊的top3_pop 是一個series 由一個index跟value組成 所以取value[:3]會是前三名的值
    top3_pop_sum = top3_pop.sum()
    top3_pop_summations.append(top3_pop_sum)
print(top3_pop_summations) #得到前三多人口數總和加總list 長度為51

[1406269, 478402, 5173150, 807152, 15924150, 1794424, 2673320, 897934, 601723, 5564635, 2417795, 1293120, 719782, 6815061, 1754727, 807090, 1220478, 1196619, 1216552, 632728, 2640226, 3044796, 3863924, 2059617, 593642, 2033597, 348199, 961357, 2427950, 842389, 2498943, 1015967, 6321295, 2309027, 297947, 3245910, 1577791, 1641036, 3549228, 919804, 1185938, 315244, 1986551, 8269632, 1852698, 277721, 1921722, 3439809, 393551, 1825699, 213321]

In [93]:
ser = pd.Series(top3_pop_summations, index =state_names) #把兩個list變成一個series
print(ser.sort_values(ascending=False))
print('-'*50)
print(ser.sort_values(ascending=False)[:3])
print('-'*50)
print(*list(ser.sort_values(ascending=False)[:3].index))

California              15924150
Texas                    8269632
Illinois                 6815061
New York                 6321295
Florida                  5564635
Arizona                  5173150
Michigan                 3863924
Pennsylvania             3549228
Washington               3439809
Ohio                     3245910
Massachusetts            3044796
Connecticut              2673320
Maryland                 2640226
New Jersey               2498943
Nevada                   2427950
Georgia                  2417795
North Carolina           2309027
Minnesota                2059617
Missouri                 2033597
Tennessee                1986551
Virginia                 1921722
Utah                     1852698
Wisconsin                1825699
Colorado                 1794424
Indiana                  1754727
Oregon                   1641036
Oklahoma                 1577791
Alabama                  1406269
Hawaii                   1293120
Kansas                   1220478
Louisiana                1216552
Kentucky                 1196619
South Carolina           1185938
New Mexico               1015967
Nebraska                  961357
Rhode Island              919804
Delaware                  897934
New Hampshire             842389
Arkansas                  807152
Iowa                      807090
Idaho                     719782
Maine                     632728
District of Columbia      601723
Mississippi               593642
Alaska                    478402
West Virginia             393551
Montana                   348199
South Dakota              315244
North Dakota              297947
Vermont                   277721
Wyoming                   213321
dtype: int64
--------------------------------------------------
California    15924150
Texas          8269632
Illinois       6815061
dtype: int64
--------------------------------------------------
California Texas Illinois

## 第二種解法:使用nlargest
傳回指定變數前n大的值跟索引出來

In [104]:
#第二種解法 使用nlargest 傳回指定變數前n大的值跟索引出來

census_df['CENSUS2010POP'].nlargest(3) #在這三個列裡面 有三個最大數字如右

190     37253956
2566    25145561
1860    19378102
Name: CENSUS2010POP, dtype: int64

In [109]:
#做第一次groupby 把相同州名稱的groupby起來
groupby_object = county_data.groupby('STNAME')
print(groupby_object)
#要對哪一個變數做什麼摘要 對人口數這個欄位取前三大
groupby_object['CENSUS2010POP'].nlargest(3)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ff66b9ebd00>

STNAME
Alabama    37      658466
           49      412992
           45      334811
Alaska     71      291826
           76       97581
                    ...
Wisconsin  3109    488073
           3164    389891
Wyoming    3180     91738
           3182     75450
           3172     46133
Name: CENSUS2010POP, Length: 151, dtype: int64

In [110]:
top3_by_states = groupby_object['CENSUS2010POP'].nlargest(3)

#再用一次groupby把stname組合起來
groupby_object = top3_by_states.groupby('STNAME')
groupby_object.sum().nlargest(3).index
#multiindex的索引

Index(['California', 'Texas', 'Illinois'], dtype='object', name='STNAME')

In [114]:
def answer_two(df):
    # filter county_data
    county_data = df[df['SUMLEV'] == 50]
    # nlargest at state level
    groupby_object = county_data.groupby('STNAME')
    top3_by_states = groupby_object['CENSUS2010POP'].nlargest(3)
    groupby_object = top3_by_states.groupby('STNAME')
    # nlargest at nation level
    ser = groupby_object.sum()
    ans = list(ser.nlargest(3).index)
    return ans

print(*answer_two(census_df))

California Texas Illinois

In [130]:
# Q3 哪個郡(county) 在2010-2015期間人口改變數量最高 (POPESTIMATE2010:POPESTIMATE2015)這六個變數

#解題想法：延續上一提，遮罩剩下顯示county的 把SUMLEV=40的遮掉不看
#然後新增一個欄位計算POPESTIMATE2010:POPESTIMATE2015裡面最大的-最小的就是答案

county_data = census_df[census_df['SUMLEV'] == 50]

# ct_list = list(census_df['CTYNAME'].unique())
# len(ct_list) #有1927個county

county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015']

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,54660,55253,55175,55038,55290,55347
2,183193,186659,190396,195126,199713,203709
3,27341,27226,27159,26973,26815,26489
4,22861,22733,22642,22512,22549,22583
5,57373,57711,57776,57734,57658,57673
...,...,...,...,...,...,...
3188,43593,44041,45104,45162,44925,44626
3189,21297,21482,21697,22347,22905,23125
3190,21102,20912,20989,21022,20903,20822
3191,8545,8469,8443,8443,8316,8328
3192,7181,7114,7065,7160,7185,7234

In [133]:
pop_max = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].max(axis=1)
pop_min = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].min(axis=1)
pop_diff = pop_max - pop_min
pop_diff.idxmax()

2667

In [134]:
#2667列索引

county_data['CTYNAME'][2667]

'Harris County'

In [137]:
def answer_three(df):
    # filter county_data
    county_data = df[df['SUMLEV'] == 50]
    pop_max = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].max(axis=1)
    pop_min = county_data.loc[:,'POPESTIMATE2010':'POPESTIMATE2015'].min(axis=1)
    pop_diff = pop_max - pop_min
    max_pop_diff_index = pop_diff.idxmax()
    ans = county_data['CTYNAME'][max_pop_diff_index]
    return ans

print(answer_three(census_df))
print(county_data.loc[2667,['STNAME','CTYNAME']])

Harris County
STNAME             Texas
CTYNAME    Harris County
Name: 2667, dtype: object