In [1]:
import matplotlib
import warnings
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#查看會員訊息

df_cum = pd.read_excel('/content/drive/MyDrive/data analytics/department_store_sales_analysis/cumcm2018c1.xlsx')
df_cum

            会员卡号                 出生日期   性别                    登记时间
0       c68b20b4  2002-11-02 00:00:00  0.0 2013-05-11 00:00:00.000
1       1ca15332                  NaN  0.0 2004-11-04 16:31:52.436
2       a37cc182  1967-02-17 00:00:00  0.0 2004-12-31 21:24:34.216
3       2ab88539  1982-06-01 00:00:00  0.0 2010-11-19 00:00:00.000
4       b4c77269  1964-02-05 00:00:00  0.0 2007-12-14 00:00:00.000
...          ...                  ...  ...                     ...
194755  a97474e0                  NaN  NaN                     NaT
194756  4e14ad22                  NaN  0.0 2013-08-30 00:00:00.000
194757  f20299a8                  NaN  NaN 2014-03-18 00:00:00.000
194758  a3a27f12  1973-01-10 00:00:00  0.0 2015-03-10 00:00:00.000
194759  a03cc001  1964-08-11 00:00:00  0.0 2010-08-09 00:00:00.000

[194760 rows x 4 columns]

In [4]:
#查看銷售表

df_sale = pd.read_csv('/content/drive/MyDrive/data analytics/department_store_sales_analysis//cumcm2018c2.csv', encoding = 'utf8')
df_sale

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,会员卡号,消费产生的时间,商品编码,销售数量,商品售价,消费金额,商品名称,此次消费的会员积分,收银机号,单据号,柜组编码,柜组名称
0,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,290.0,270.20,兰芝化妆品正价瓶,270.20,6,25bb,8077.0,兰芝柜
1,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,325.0,302.80,兰芝化妆品正价瓶,302.80,6,25bb,8077.0,兰芝柜
2,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,195.0,181.80,兰芝化妆品正价瓶,181.80,6,25bb,8077.0,兰芝柜
3,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,1,270.0,251.55,兰芝化妆品正价瓶,251.55,6,25bb,8077.0,兰芝柜
4,1be1e3fe,2015-01-01 00:05:41.593,f09c9303,2,245.0,456.55,兰芝化妆品正价瓶,456.55,6,25bb,8077.0,兰芝柜
...,...,...,...,...,...,...,...,...,...,...,...,...
1893527,607c7cde,2018-01-03 21:38:15.343,c483e08b,1,200.0,200.00,植村秀眉笔4g,200.00,91,3d84,8156.0,Shu Uemura
1893528,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,1.0,1.00,爱慕内衣正价件,1.00,264,7cd8,4332.0,Aimer
1893529,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,490.0,490.00,爱慕内衣正价件,490.00,264,7cd8,4332.0,Aimer
1893530,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,280.0,280.00,爱慕内衣正价件,280.00,264,7cd8,4332.0,Aimer
1893531,220c0564,2018-01-03 21:41:53.140,cd93b1ca,1,880.0,880.00,爱慕内衣正价件,880.00,264,7cd8,4332.0,Aimer

#資料探索跟預處理

In [7]:
print('會員資料表一共有{}行，{}列'.format(df_cum.shape[0], df_cum.shape[1]))
print('數據缺失的情況為：\n{}筆'.format(df_cum.isnull().mean()))
print('會員卡號（不重複）有{}筆'.format(len(df_cum['会员卡号'].unique())))

會員資料表一共有194760行，4列
數據缺失的情況為：
会员卡号    0.000000
出生日期    0.175539
性别      0.048444
登记时间    0.065126
dtype: float64筆
會員卡號（不重複）有194754筆